body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #333;
  font-weight: bold;
  margin-top: 0;
}

.container-login {
  background-image: url('../img/bg-login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.container-form {
  height: 75%;
  width: 30%;
  border-radius: 10px;
  background: white;
}

.form {
  width: 80%;
  height: 40%;
}

.form-control {
  min-height: 38px;
  box-shadow: none !important;
}

.form-control:focus {
  color: #212529;
  outline: 0;
  border-color: #ced4da;
  box-shadow: none;
}

.input-group-text {
  height: 100%;
}

.button-container {
  width: 80%;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  min-width: 140px;
}

.alert {
  position: absolute;
  top: 10px;
  width: 30%;
  font-size: 0.9rem;
}

@media all and (min-width: 360px) and (max-width: 768px) {
  .container-form {
    width: 70%;
  }
}
