.container-login {
  background-image: url('../img/bg-login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.container-form {
  height: 75%;
  width: 45%;
  border-radius: 10px;
  background: white;
}

.form {
  width: 80%;
  height: 40%;
}

.button-container {
  width: 80%;
}

.alert {
  position: absolute;
  top: 10px;
  width: 45%;
}

@media all and (min-width: 360px) and (max-width: 768px) {
  .container-form {
    width: 70%;
  }
}
